body {
	padding: 1em;
	font-family: sans-serif;
	font-size: 16px;
	color: rgba(0, 0, 0, .8)
}

form {
	width: 25em;
	margin: 0 auto
}

small {
	display: block;
	margin-bottom: .3em;
	color: rgba(0, 0, 0, .5)
}

.row:not(.un-styled) {
	display: flex;
	flex-direction: row-reverse
}

.row:last-child {
	display: block;
}

.row.un-styled {
	margin-bottom: 1em;
	padding-left: 35%;
}

.row.un-styled label {
	vertical-align: top;
}

.row.un-styled input[type=checkbox]:last-of-type {
	margin-left: 2em;
}

.row.un-styled input[type=radio] + label {
	display: inline-block;
	width: 90%;
}

.row input {
	margin: 0 0 1em auto
}

button {
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
	font-size: 1em;
	border: none;
	background: #0588ff;
	color: white;
	border-radius: 3px;
	padding: .4em .8em;
	margin: 0 0 0 auto;
	display: block
}

label {
	line-height: 1.5em
}

input:not(.un-styled) {
	outline: none;
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	padding: 0 .5em;
	border: none;
	width: 15em;
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2)
}

input[type=checkbox]:indeterminate,
input[type=radio]:indeterminate {
	box-shadow: 0 0 10px 1px grey;
}

input[type=radio]:valid {
	box-shadow: 0 0 10px 1px green;
}

input[type=checkbox] {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 -15px 10px -12px rgba(0,0,0,0.05);
	border-radius: 7px;
	display: inline-block;
	position: relative;
	width: 20px;
	height: 20px;
	margin: 0;
}

input[type=checkbox]:active, input[type=checkbox]:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 3px rgba(0,0,0,0.1);
}

input[type=checkbox]:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	color: #99a1a7;
}

input[type=checkbox]:checked:after {
	content: '\2714';
	font-size: 27px;
	position: absolute;
	color: green;
	top: -5px;
	left: 3px;
}