input:focus:invalid {
	box-shadow: 0 0 4px 2px red;
}

input:valid {
	box-shadow: 0 0 4px 2px green;
}

.row {
	display: flex;
	flex-direction: row-reverse
}

input[required] + label:after {
	content: '*';
}
