body {
	padding: 1em;
	font-family: sans-serif;
	font-size: 16px;
	color: rgba(0, 0, 0, .8)
}

form {
	max-width: 25em;
	margin: 0 auto
}

small {
	display: block;
	margin-bottom: .3em;
	color: rgba(0, 0, 0, .5)
}

.row {
	display: flex;
	flex-direction: row-reverse
}

.row:last-child {
	display: block;
}

.row input {
	margin: 0 0 1em auto
}

button {
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
	font-size: 1em;
	border: none;
	background: #0588ff;
	color: white;
	border-radius: 3px;
	padding: .8em;
	margin: 0 0 0 auto;
	display: block
}

label {
	line-height: 1.5em
}

input {
	outline: none;
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	padding: 0 .5em;
	border: none;
	width: 15em;
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2)
}

input:focus:invalid {
	box-shadow: 0 0 4px 2px red;
}

input:focus:valid {
	box-shadow: 0 0 4px 2px green;
}

input[required] + label:after {
	content: '*';
}